
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CD5C5C;
    color: white;
    text-align: center;
}
ul.navbar-nav ul a
{
 margin-left: 20px;
 color: #fff;
 font-variant: small-caps;
text-transform: uppercase;
padding: 10px;
}
ul.navbar-nav ul a:hover
{
 background:#fff;
 color: #444;
 text-decoration: none;
 outline: none;
}